.div{
    padding-left: 20px; 
    padding-right:20px; 
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F58D22;
    margin: auto;
    margin-bottom: 3%;
    width: 60%;
}
body{
    background-color: #2A2A2A;
}
.dog_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
}
.dog_more{
    color: black;
    font-weight: 700;
    font-size: 20px;
    
}
.paragraph{
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
